#aboutcontainer{
    display: grid;
    height: 100vh;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-auto-flow: row;
    gap: .2rem;
    grid-template-areas:
        "nav nav"
        "header header"
        "maincontent aboutphoto"
        "footer footer";
}

nav{
    grid-area: nav;
}

header{
    grid-area: header;
}

h1 {
    color: #009966;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

#maincontent{
    background: #009966;
    grid-area: maincontent;
    height: 100%;
}

#aboutphoto{
    background: #009966;
    grid-area: aboutphoto;
    width: 100%
}

#aboutphoto > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  }

img{
    align-items: center;
}

footer{
    grid-area:footer;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px 0px 10px 0px;
    width: 100%;
    background-color: white;
    color: #009966;
    text-align: center;
}
nav a{
    background-color: #009966;
    color: #FFFFFF;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
nav a:hover{
    background:  #008080;
}

nav ul {
    list-style: none;
    display: inline-block;
    height: 40px;
    font-family: Baskerville;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
nav ul li{
    width: 100%;
    text-align: center;
    position: relative;
}

nav ul li:hover ul{
    display: block;

}

nav ul li ul{
    display: none;
    position: absolute;
    flex-direction: column;
    background-color:  #009966;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    text-align: center;
}

nav label, #toggle{
    margin: 0, 40px, 0 0 ;
    font-size: 30px;
    display: none;
}

#toggle{
    display: none;
}

@media only screen and (max-width: 400px) {
    nav label{
        display: inline-block;
        cursor: pointer;
    }

    nav ul{
        display: none;
        width: 100%
    }
    nav ul a{
        display: block;
        margin: 0;
        width: 100%;
    }
    #toggle:checked + nav ul{
        display:block;
    }
    
}


