nav ul{
    text-align:center;
}
nav ul li {
    display: inline; 
    border: none;
    text-decoration: underline;
    text-align: center;
    list-style-type: none;
    padding: 75px 75px 75px;
    margin-top: 0;
    position: relative;
}

nav ul li ul{
    display: none;
    position: absolute;
    padding: 10px; 
}

nav ul li:hover ul{
    display: block;  
}

nav ul li ul li {
    width: 100px;
    text-align: center;     
}

nav ul li ul li a {
    padding: 0px 10px;
}