li, a {
    display: inline; 
    border: none;
    text-decoration: underline;
    text-align: center;
    width: 150px;
    list-style-type: none;
    padding: 75px 75px 75px;
    margin-top: 0;
    margin-left: 20px;
}