ul{
    text-align:center;
}
ul li {
    display: inline; 
    border: none;
    text-decoration: underline;
    text-align: center;
    list-style-type: none;
    padding: 75px 75px 75px;
    margin-top: 0;
    position: relative;
}

ul li ul{
    display: block;
    position: absolute;
}