html {
    scroll-behavior: smooth;
  } 


h1 {
    color: #009966;
    text-align: center;
}

h3 {
  color: white;
  padding: 15px 10px 0 10px;
}

p::first-letter {
    font-size: 140%;
    font-family: 'Serif';
}

p + p {
    text-indent: 2em;
  }
